@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Montserrat:wght@400;500;700;800&display=swap");
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Inter", sans-serif;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
.blur{
  background: rgba(64, 174, 252, 0.69);border-radius: 50%;
  filter: blur(212px);
  z-index: -9;
  position: absolute;

}

/* //card */
.card img {
  -webkit-user-select: none;
  user-select: none;
}

.card {
  perspective: 1000px;
}

.card-inner {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  /* background-image: linear-gradient(45deg, #0045c7, #ff2c7d); */
  background: linear-gradient(135deg, #2488FF 0%, #000 100%);
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.card:hover .card-inner {
  transform: rotateY(-180deg);
}
.balance {
  background: linear-gradient(135deg, #2488FF 0%, #1c71da 100%);
  box-shadow: 1px 2px 4px 0px #ECECEC;
}